.picture{
	width: 250px;
}
body {
background-color:#696969;
font-family: Helevetica;
color: white;

}

.centre_block {
	text-align:center;
	width: 600px;
	word-wrap:break-word;
	position: absolute;
    height: 200px;
    margin: -200px 0 0 -300px;
    top: 50%;
    left: 50%;
	color:white;

}
.top_bar{
width:100%
margin: 0 auto;
height: 25px;
	background-color:blue;
}
h2 {
	font-size: 16pt;
	font-family: Helevetica;
}
h3 {
	font-size: 14pt;
}
.col-md-5 {
	text-align:center;
	word-wrap:break-word;
}
.picture2{
	width:50px;
	margin: 50px 0 0 0;
}

.link {
	
	
}
.picture{
	background-size:cover;
}