.picture{
	width=50px;
}
body {
background-color:#696969;


}

.centre_block {
	text-align:center;
	width: 600px;
	word-wrap:break-word;
	position: absolute;
    height: 200px;
    margin: -200px 0 0 -300px;
    top: 50%;
    left: 50%;
	color:white;

}
h2 {
	font-size: 14pt;
}
.picture2{
	width:100px;
}